body{
    background-image: url(https://previews.123rf.com/images/yurysevryuk/yurysevryuk1810/yurysevryuk181000103/112528045-vertical-food-banner-delicious-toasts-with-grilled-cheese-quail-eggs-cream-cheese-and-nuts-author-s.jpg)
  }
  
  fieldset{
    background-color:#061148;
    border-color:#e1c699;
    color:white;
    width:50%;
    margin:0 auto;
  }
  legend{
    color:white
  }
  h1,p{
    margin:0 auto;
    text-align:center;
    color:white;
  }
  label{
    display:block;
  }
  input,select,textarea{
    margin: 10px 0 0 0;
    width: 100%;
    padding-bottom: 1em;
    padding-top:0;
    
  }
  
  .inline {
    width:unset;
    
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"]{
    background-color:#061148;
    color:white;
    height:2em;
    width:60%;
    margin:1em auto;
    display:block;
  }
  
